@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(16, 12, 70, 0.8);
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}


[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.26;
}

.text {
  font-weight: 400;
  line-height: 1.6;
}

.label {
  color: #6257FE;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
}



.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo {
  padding: 1.1875rem 1.0625rem;
}

.nav-header {
  background-color: #6257FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.375rem 1.4375rem 1.3125rem 1.4375rem;
  gap: 1.5625rem;
}

.nav-header__link:hover {
  -webkit-box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.footer {
  padding: 7rem 0 5.125rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__description {
  font-weight: 400;
  line-height: 1.6;
  color: rgba(16, 12, 70, 0.8);
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50%;
  text-align: end;
}

.footer__link-up {
  display: inline-block;
  padding: 1.4375rem;
  background-color: #6257FE;
}

.main-page {
  position: relative;
  background-color: #6257FE;
}

.main-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.main-page__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41%;
          flex: 0 0 41%;
  padding-right: 7.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.main-page__block {
  max-width: 23.9375rem;
  color: #FFFFFF;
}

.main-page__label {
  color: #FFFFFF;
}

.main-page__label:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.main-page__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main-page__text:not(:last-child) {
  margin-bottom: 4.1875rem;
}

.main-page__link,
.form__button {
  display: inline-block;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.78;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: #100C46;
  padding: 1.1875rem 2.875rem;
  background: #FFFFFF;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.main-page__link:not(:last-child),
.form__button:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.main-page__link:hover,
.form__button:hover {
  background-color: #100C46;
  color: #FFFFFF;
}

.main-page__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: -5.3125rem;
  position: relative;
  align-self: stretch;
}

.main-page__img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-page {
  position: relative;
}

.about-page::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #100C46;
}

.about-page__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.about-page__body {

  max-width: 32.8125rem;
  padding-right: 3.8125rem;
}

.about-page__label:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.about-page__title {
  color: #6257FE;
}

.about-page__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about-page__text {
  color: rgba(255, 255, 255, 0.8);
}

.about-page__text > p:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about-page__img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 47.49%;
}

.about-page__img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-page {
  position: relative;
}

.services-page::before {
  content: "";
  width: 41.319%;
  height: 100%;
  position: absolute;
  background-color: #6257FE;
  top: 0;
  right: 0;
}

.services-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.services-page__body {
  padding: 0.9375rem 0;
}

.services-page__label:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.services-page__title:not(:last-child) {
  margin-bottom: 5.3125rem;
}

.services-page__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max(18.5rem))[2];
  grid-template-columns: repeat(2, max(18.5rem));
  gap: 4rem;
  padding-right: 1.875rem;
}

.services-page__right {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40.97%;
          flex: 1 1 40.97%;
  padding-top: 10.375rem;
}

.services-page__img > img {
  max-width: 100%;
}

.item-service {
  color: #100C46;
}

.item-service__icon:not(:last-child) {
  margin-bottom: 0.875rem;
}

.item-service__sub-title {
  gap: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.45;
}

.item-service__sub-title:not(:last-child) {
  margin-bottom: 1.375rem;
}

.item-service__sub-title::before {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  content: "";
  width: 4.8125rem;
  height: 1px;
  background-color: #100C46;
}

.portfolio-page {
  padding: 9.125rem 0;
}

.portfolio-page__header,
.team-page__header {
  text-align: center;
}

.portfolio-page__header:not(:last-child),
.team-page__header:not(:last-child) {
  margin-bottom: 4.8125rem;
}

.portfolio-page__label:not(:last-child),
.team-page__label:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.portfolio-page__title:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.portfolio-page__items,
.team-page__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 2.0625rem;
}

.portfolio-page__img,
.team-page__img {
  display: block;
  margin-bottom: 135%;
  position: relative;
}

.portfolio-page__img > img,
.team-page__img > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-page {
  padding-bottom: 9.125rem;
}

.team-page__item {
  position: relative;
}

.team-page__img > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-page__label-image {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(98, 87, 254, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6875rem 0.8125rem 0.6875rem 1.1875rem;
}

.team-page__text-block {
  color: #FFFFFF;
}

.team-page__name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 2;
}

.team-page__profession {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 2.29;
}

.team-page__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8125rem;
}

.contact-page {
  position: relative;
}

.contact-page::before {
  content: "";
  width: 41.319%;
  height: 100%;
  position: absolute;
  background-color: #6257FE;
  top: 0;
  right: 0;
}

.contact-page__container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.contact-page__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-right: 5.4375rem;
}

.contact-page__header:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.contact-page__label {
  background-color: #FFFFFF;
}

.contact-page__form {
  display: -ms-grid;
  display: grid;
  gap: 1.125rem;
}

.contact-page__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.form__line {
  background: #F4F3FF;
  padding: 0.3125rem 1.25rem;
}

.form__label {
  display: block;
}

.form__input {
  width: 27.6875rem;
  height: 2.8125rem;
  background: #F4F3FF;
}

textarea.form__input {
  resize: vertical;
  height: 150px;
}

.form__input:focus {
  outline: 1px solid #dad7fd;
}

.info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.8125rem;
}

.info-contact__map {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 73%;
          flex: 0 0 73%;
  height: 38.5625rem;
}

.info-contact__map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-contact__block {
  color: #FFFFFF;
  width: 9.375rem;
}

.info-contact__title {
  font-size: 1.25rem;
  line-height: 1.6;
  padding: 0 0 0 2.5rem;
}

.info-contact__title--phone {
  background: url(../img/icons/phone.svg) 0 0 no-repeat;
}

.info-contact__item,
.info-contact__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}

.info-contact__title--email {
  background: url(../img/icons/mail.svg) 0 0 no-repeat;
}

.info-contact__title--address {
  background: url(../img/icons/address.svg) 0 0 no-repeat;
}

.info-contact__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.6875rem;
}

@media (min-width: 90em) {
  [class*=__container] {
    padding-left: 5.3125rem;
  }

  [class*=__container] {
    padding-right: 5.3125rem;
  }
}

@media (max-width: 20em) {
  [class*=__container] {
    padding-left: 0.9375rem;
  }

  [class*=__container] {
    padding-right: 0.9375rem;
  }
}

@media (max-width: 90.3125rem) {
  .form__button {
    width: 100%;
  }
}

@media (max-width: 87.5rem) {
  .team-page__contacts {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 84.6875rem) {
  .services-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-page__container .services-page__img {
    margin-right: -4.375rem;
  }

  .services-page::before {
    content: "";
    width: 0;
    height: 0;
  }

  .services-page__right {
    width: 100vw;
    background-color: #6257FE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.9375rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 79.6875rem) {
  .main-page__body {
    padding-right: 2.5rem;
  }

  .about-page__body {
    padding-right: 0.9375rem;
  }
}

@media (max-width: 75rem) {
  .portfolio-page__items,
  .team-page__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .team-page__contacts {
    position: static;
  }
}

@media (max-width: 74.25rem) {
  .about-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
  }

  .about-page__body {
    padding: 0.9375rem 0;
  }

  .about-page::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #100C46;
  }

  .about-page__img {
    width: 100%;
  }
}

@media (max-width: 71.6875rem) {
  .contact-page__body {
    margin-bottom: 0.9375rem;
    padding-right: 0;
  }

  .contact-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-contact__map {
    width: 100%;
  }

  .info-contact {
    background-color: #6257FE;
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-page::before {
    width: 0;
    height: 0;
  }
}

@media (max-width: 56.3125rem) {
  .main-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    padding-top: 6.875rem;
    gap: 0.9375rem;
    text-align: center;
            align-items: center;
            
    
  }
			

  .main-page__body {
    
            padding-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
            
		        
    	
	  
  }
  .main-page__block{
    align-self: center;
   		      text-align: center;
  }

  .main-page__link,
  .form__button {
    width: 100%;
    text-align: center;
  }

  .main-page__img {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 45.3125rem) {
  .info-contact {
    background-color: #6257FE;
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .info-contact__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.9375rem;
  }
}

@media (max-width: 32.1875rem) {
  .services-page__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 31.25rem) {
  .team-page__contacts {
    position: absolute;
    bottom: 0.3125rem;
    right: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 25rem) {
  :root {
    font-size: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (padding-left: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 4.375 * (100vw - 20rem) / 70);
    }
}

@supports (padding-right: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 4.375 * (100vw - 20rem) / 70);
    }
}
}

@media (min-width: 25rem) and (max-width: 33.4375rem) {
  :root {
    font-size: 0.6875rem;
  }
}

@media (min-width: 33.4375rem) and (max-width: 41.875rem) {
  :root {
    font-size: 0.75rem;
  }
}

@media (min-width: 41.875rem) and (max-width: 50.3125rem) {
  :root {
    font-size: 0.8125rem;
  }
}

@media (min-width: 50.3125rem) and (max-width: 58.75rem) {
  :root {
    font-size: 0.875rem;
  }
}

@media (min-width: 58.75rem) and (max-width: 67.1875rem) {
  :root {
    font-size: 0.9375rem;
  }
}
